    <% include ../includes/head %>

    </head>

    <body class="bg-lightblue-color">
        <% include ../includes/windowButtons , {backgroundColor: backgroundColor} %>

        <h1> login page </h1>

    </body>
</html>