<!DOCTYPE html>
<html>

<head>
    <title>KilometerApp</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script> window.$ = window.jQuery = require('jquery');</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/iconify.min.js"></script>
    <script src="/js/menuHandlerElectron.js"></script>
    <script src="/js/dropdownHandlers.js"></script>