<div class="sidenav">
    <button class="dropdown-btn">Entité
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" draggable="false">Link 1</a>
        <a href="#" draggable="false">Link 2</a>
        <a href="#" draggable="false">Link 3</a>
    </div>

    <button class="dropdown-btn">Individus
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" draggable="false">Link 1</a>
        <a href="#" draggable="false">Link 2</a>
        <a href="#" draggable="false">Link 3</a>
    </div>


    <button class="dropdown-btn">Véhicules
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" draggable="false">Link 1</a>
        <a href="#" draggable="false">Link 2</a>
        <a href="#" draggable="false">Link 3</a>
    </div>


    <button class="dropdown-btn">Fiches
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#" draggable="false">Link 1</a>
        <a href="#" draggable="false">Link 2</a>
        <a href="#" draggable="false">Link 3</a>
    </div>
</div>