<div class="sidenav">    
    <div class="my-2">
        <button class="dropdown-btn">Véhicules
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/vehicles" draggable="false">Liste des véhicules</a>
            <a href="/vehicles/associate/liste" draggable="false">Liste des affectations</a>
            <a href="/vehicles/create" draggable="false">Ajouter un véhicule</a>
            <a href="/vehicles/associate/create" draggable="false">Associé à un individu</a>
        </div>
    </div>

    <div class="my-2">
        <button class="dropdown-btn">Fiches
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/kilometersheets" draggable="false">Liste des fiches</a>
            <a href="/kilometersheets/create" draggable="false">Ajouter un fiche</a>
        </div>
    </div>

    <a draggable="false" href="/logout" id="logoutContainer" class="text-center w-100">
        <button id="logoutBtn" class="d-flex btn btnLogin justify-content-center align-items-center w-75 mx-auto text-white py-0 my-0">
            <div class="mr-2">
                <span class="iconify" data-inline="false" data-icon="gg:log-off" style="font-size: 17px; color: #fff; margin-top: -4px !important;"></span>
            </div>
            <div>
                <p class="my-0 py-0" style="font-size: 12px !important;"> Deconnexion </p>
            </div>
        </button>
    </a>
</div>