<div class="sidenav">
    <div class="my-2">
        <button class="dropdown-btn">Entité
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" draggable="false">Voir la liste</a>
            <a href="#" draggable="false">Ajouter une entité</a>
        </div>
    </div>


    <div class="my-2">
        <button class="dropdown-btn">Individus
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" draggable="false">Voir la liste</a>
            <a href="#" draggable="false">Ajouter un individu</a>
        </div>
    </div>


    <div class="my-2">
        <button class="dropdown-btn">Véhicules
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" draggable="false">Voir la liste</a>
            <a href="#" draggable="false">Ajouter un véhicule</a>
        </div>
    </div>

    <div class="my-2">
        <button class="dropdown-btn">Chevaux fiscaux
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/horsepowers" draggable="false">Voir la liste</a>
            <a href="/horsepowers/create" draggable="false">Ajouter un élément</a>
        </div>
    </div>

    <div class="my-2">
        <button class="dropdown-btn">Fiches
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" draggable="false">Voir la liste</a>
            <a href="#" draggable="false">Ajouter un fiches</a>
        </div>
    </div>

    <a href="/logout" id="logoutContainer" class="text-center w-100">
        <button id="logoutBtn" class="d-flex btn btnLogin justify-content-center align-items-center w-75 mx-auto text-white py-0 my-0">
            <div class="mr-2">
                <span class="iconify" data-inline="false" data-icon="gg:log-off" style="font-size: 17px; color: #fff; margin-top: -4px !important;"></span>
            </div>
            <div>
                <p class="my-0 py-0" style="font-size: 12px !important;"> Deconnexion </p>
            </div>
        </button>
    </a>
</div>