<nav class="w-100 <%= backgroundColor %> row no-gutters border-bottom border-light">

    <div class="col-2 pt-2 pl-4">
        <h6 id="titleApp" class="text-white"> KilometerApp </h6>
    </div>
    <div class="d-flex justify-content-end col-10">
        <button id="minimize" class="btn btn-window rounded-0" style="padding: 5px !important;">
            <svg width="10" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H20V2H0V0Z" fill="white" />
            </svg>
        </button>
        
        <button id="maximize" class="btn btn-window rounded-0">
            <span class="iconify" data-inline="false" data-icon="clarity:window-max-line"
                style="font-size: 20px; color: #fff;"></span>
        </button>
        
        <button id="close" class="btn btn-window rounded-0 btn-close">
            <span class="iconify" data-inline="false" data-icon="ant-design:close-outlined"
                style="font-size: 16px; color: #fff;"></span>
        </button>
    </div>
</nav>