<% include includes/head %>

</head>

<body class="bg-darkblue-color">
    <% include includes/windowButtons , {backgroundColor: backgroundColor} %>

    <!-- Side navigation -->
    <div class="sidenav">
        <button class="dropdown-btn">Entité
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>

        <button class="dropdown-btn">Individus
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>


        <button class="dropdown-btn">Véhicules
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>


        <button class="dropdown-btn">Fiches
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    <div class="main">
        ...
    </div>

</body>

</html>