<% include includes/head %>

</head>

<body class="bg-darkblue-color">
    <% include includes/windowButtons , {backgroundColor: backgroundColor} %>

    <% include includes/sidenav %>
    
    <div class="main pt-5">
        <h4 class="text-white text-center w-100 my-5">Que voulez-vous faire aujourd'hui ?</h4>

        <div class="pt-4 row no-gutters justify-content-center">
            <a draggable="false" href="/entities" class="btn text-white text-center col-4 m-4 btnDashboard">
                <div class="my-2">
                    Entités
                </div>
            </a>
            <a draggable="false" href="/persons" class="btn text-white text-center col-4 m-4 btnDashboard">
                <div class="my-2">
                    Individus
                </div>
            </a>
            <a draggable="false" href="/vehicles" class="btn text-white text-center col-4 m-4 btnDashboard">
                <div class="my-2">
                    Véhicules
                </div>
            </a>
            <a draggable="false" href="/horsepowers" class="btn text-white text-center col-4 m-4 btnDashboard">
                <div class="my-2">
                    Barème de compensation
                </div>
            </a>
            <a draggable="false" href="/kilometersheets" class="btn text-white text-center col-4 m-4 btnDashboard">
                <div class="my-2">
                    Fiches
                </div>
            </a>
        </div>

    </div>

</body>

</html>