@use "../vendors/bootstrap.4-5-0.min.css";
@use "../utils/colors";
@use "../utils/mixins";
@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display&display=swap');

/* ------ GENERAL ----- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
body, html{
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a,h1,h2,h3,h4,h5,h6, button{
  @include mixins.fontTitre('Oswald', sans-serif);
}

a{
  text-decoration: none !important;
}

p, #copyright{
  @include mixins.fontTitre('Playfair Display', sans-serif);
}

nav {
  -webkit-app-region: drag;
}

.btn {
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  outline: none !important;
  border: none !important;
  cursor: default !important;
  -webkit-app-region: no-drag;

  &:focus,&:active {
    outline: none !important;
    box-shadow: none;
  }
}

.bg-lightblue-color {
  background-color: colors.$backgroundLightBlue;
}

.bg-darkblue-color{
  background-color: colors.$backgroundDarkBlue;
}

.btn-window {
  background-color: transparent !important;
  color: colors.$fontColorWhite !important;
  font-weight: normal !important;
  width: 45px !important;

  &:hover{
    background-color: colors.$backgroundLightBlue !important;
  }

  &.btn-close:hover {
    background-color: red !important;
  }
}

.btnLogin{
  background-color: colors.$backgroundLoginBtn !important;
  border-radius: 15px !important;
  padding: 5px 50px !important;
  cursor: pointer !important;

  &:hover{
    background-color: colors.$backgroundDarkBlue !important;
  }
}

#loginForms{
  color: colors.$fontColorWhite !important;

  input{
    outline: none !important;
    background: rgba(40, 62, 89, 0.932) !important;
    color: #5d86c1 !important;
    border: 2px solid colors.$backgroundLoginBtn !important;

    &:focus,&:active {
      outline: none !important;
      box-shadow: none;
    }
  }
}