<% include ../includes/head %>

</head>

<body class="bg-darkblue-color">
    <% include ../includes/windowButtons , {backgroundColor: backgroundColor} %>

    <% include ../includes/sidenav %>

    <div class="main">
        ...
    </div>

</body>

</html>